body{
  display: flex;
  height: 100vh;
  background-color: darkgray;
  margin: 0;
  padding: 0;
}

.box{
  width: 100px;
  height: 100px;
  background-color: red;
  /* transition-property: background-color, width, height;
  transition-duration: .5s;
  transition-timing-function: ease-in-out; */
  /* transition: all .5s ease-in-out; */
  /* animation-name: kutucuk;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite; */
  animation: kutucuk 2s ease-in-out infinite;
}

.box:hover{
  background-color: chartreuse;
  /* width: 50px;
  height: 200px; */
}

@keyframes kutucuk {
  0%{
    transform: translateX(0px);
    background-color: red;
  }
  50%{
    transform: translateX(200px);
    background-color: green;
  }
  100%{
    transform: translateX(0px);
    background-color: red;
  }
}